/composer.lock
/nbproject/
/.vscode/
/vendor/

# Docker related
docker/db_data/
docker/.env

# OS files
.DS_Store
Thumbs.db
._*

# Application specific
*.log
.env

# General
.DS_Store
.AppleDouble
.LSOverride
.vscode
.idea
nbproject

# Icon must end with two \r
Icon

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/docker/xdebug-logs/
/public/assets/templates/smarty_tmp/*

# Development
.config/
.opencode/
.understand-anything/

# Graphify
graphify-out/
