:root {
    /*    --bs-body-bg: #eefff0;
        --bs-body-color: #00943e;*/
}

:root, [data-bs-theme=light] {
    --bs-heading-color: #575656;
    --bs-table-bg: #3d9e3b;
}
body.light {
    /* background: rgb(61,158,59); */
    /* background: linear-gradient(180deg, rgba(61,158,59,0.13) 10%, rgba(61,158,59,0.25) 60%, rgba(61,158,59,0.5) 100%); */
}

#k1app-page-title {
    font-size: 1.85rem;
}
body.light .card-title{
    /* color:#3d9e3b !important; */

}

.table.k1lib-crudlexs-list thead th, .table.k1lib-crudlexs-list thead th a   {
    /* background-color: #00ad49; */
    color: white;

}
.k1lib-data-item-label {
    /* color: #00ad49; */

}
#auth #auth-right {
    height: 100%;
    /* background: linear-gradient(90deg, #00943e, #17cb62); */
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:right center;
    background-size:cover;
}
#auth #auth-left .auth-title{
    font-size:2.7rem;
    margin-bottom:1rem
}
.stats-icon.yellow {
    background-color:#ff0
}

.stats-icon.red {
    background-color:#ff7976
}


.stats-icon.orange {
    background-color:#E8C657
}

.form-error, .is-invalid-input {
    color: red;
}
