/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2015, 1:51:08 PM
    Author     : J0hnD03
*/

html {
    font-size: 15px;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(./fonts/Open-Sans.woff) format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 1.5rem; }

h2 {
    font-size: 1.25rem; }

h3 {
    font-size: 1.1875rem; }

h4 {
    font-size: 1.125rem; }

h5 {
    font-size: 1.0625rem; }

h6 {
    font-size: 1rem; }

@media screen and (min-width: 40em) {
    h1 {
        font-size: 1.7rem; }
    h2 {
        font-size: 1.5rem; }
    h3 {
        font-size: 1.4rem; }
    h4 {
        font-size: 1.3rem; }
    h5 {
        font-size: 1.2rem; }
    h6 {
        font-size: 1.1rem; } 
}

section {
    position: relative;
    display: block;
}
section.k1lib-content {
    height: 100%;
}
.no-js .top-bar {
    display: none;
}
/**
OFF CANVAS CUSTOM STYLES
*/
.off-canvas {
    background-color: #444;
    height: 100vh;
}
.off-canvas-content {
    box-shadow: none;
    height: 100vh;
}
#app-left-header {
    padding: 10px 5px;
}
#app-logo {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#app-user-profile {
    margin: 20px 0px;
}
#app-user-profile {
    color: #FFF;
    padding: 0px 10px 0px 10px;
}
#app-user-profile img{
    vertical-align: bottom;
    margin-right: 10px;
}
ul.menu li  a{
    color: #FFF;
}
ul.menu li.has-submenu.active.is-accordion-submenu-parent a{
    /*background-color: #2199FF;*/
}
ul.menu li.has-submenu.active.is-accordion-submenu-parent ul li a{
    /*background-color: inherit;*/
}
ul.menu li.has-submenu.active.is-accordion-submenu-parent ul li.active a{
    /*background-color: #999;*/
    /*font-weight: bold;*/
}
ul.menu li.has-submenu.active.is-accordion-submenu-parent ul{
    /*display: block !important;*/
}
/**
END OF CANVAS
*/

@media screen and (min-width: 40em) {
    .no-js .top-bar {
        display: block;
    }

    .no-js .title-bar {
        display: none;
    }
}
/**
UTILITIES CLASSES AND IDs
*/
#k1lib-content {
    padding: 20px 20px 60px 20px;
    min-height: 600px;
}
#k1lib-run-info {
    font-size: 0.9em;
    color: #555;
}
.scroll-x {
    overflow-x: auto;
}
.scroll-y {
    overflow-y: auto;
}
/**
UTILITIES CLASSES AND IDs
*/

.k1lib-uppercase {
    text-transform: uppercase;
}

a.k1lib-a-object {
    font-weight: bold;
}

span.k1lib-span-object.key-field {
    font-weight: bold;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

label.k1lib-label-object {
    color: #666;
    font-size: 0.9em;
}

#k1lib-footer-message {
    border: none !important;
    position: fixed; 
    bottom:0; 
    width:100%;
    margin: 0;
}
#k1lib-footer-messager #k1lib-run-info {
    padding-left: 2rem;
    display: block;
}

#k1lib-footer-message.left-footer{
    padding: 0rem 0.6rem;
}
#k1lib-footer-message.left-footer,
#k1lib-footer-message.left-footer a,
#k1lib-footer-message.left-footer span {
    color:#FFF;
}
#k1lib-footer-message.left-footer a {
    font-weight: bold;
}
#k1lib-footer-message.left-footer #k1lib-run-info {
    padding-left: 0px;
    display: block;
}

#k1lib-footer-message.left-footer h6 {
    font-size: 0.8em;
}
#k1lib-footer-message h6 {
    font-size: 0.6em;
}

/**
LOGIN FORM
**/
html #login-form-body {
    background-color: #DCDCDC;
}
#login-form-body .button{
    margin: 0px !important;
}
#k1lib-login-copyright {
    font-size: 0.6em;
    margin-top: 0.8em;
    text-align: center;
}
#k1lib-login-logo {
    padding: 2em;
}
#k1app-login-content {
    background-color: #FFF;
    padding: 1em;
}
#k1app-login-content a {
    font-size: 0.8em;
}
#k1lib-login-title {
    background-color: #00a2d0;
}
#k1lib-login-title h1 {
    color: #FFF;
    margin: 0px;
    padding: 0.6em 0.6em;
    font-size: 0.9em;
    text-transform: uppercase;
}
#login-form-body .login-form-data {
    padding-top: 0.6em;
    background-color: #FFFFFF;
}
/*
TOP MENU - Building blocks 
*/

/*
BOARD STYLES
*/
.board-content{
    position: relative;
    height: 100%;
    width: 100%;
}
/** 
GENERAL
/*


/* READ */
.k1lib-related-list {
    margin-top: 1em;
    padding-top: 1em;
    border-top: solid 1px #CCC;
}

.k1lib-crudlexs-related-data {
    margin-top: 2em;
}

.k1lib-data-group-title {
    /*text-align: right;*/
    border-bottom: solid 1px #aaa;
}
.k1lib-data-item {
    margin-top: 0.5em;
    padding-left: 2em;
}

.k1lib-data-item-label {
    color: #BBB;
}

.k1lib-data-item-value {
    font-size: 1.2em;
    color: #444;
}

.k1lib-data-img {
    max-width: 200px;
}
/**
LIST SEARCH
*/
table tr th a.non-ordering {
    color: #444;
}
table tr th a.ordering {
    color: #111;
}

.utility-iframe {
    position: absolute;
    overflow: scroll;
    display: none;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top:0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    z-index: 9999;
}
/**
LIST PAGINATION
*/

select.k1lib-crudlexs-page-goto {
    width: 55px;
    font-size: 1em;
    border: none;
    margin: 0;
}
ul.k1lib-ul-object.pagination.k1lib-crudlexs {
    margin: 0 !important;
}

div.k1lib-crudlexs-list-pagination li.k1lib-li-object {
    display: inline-block !important;
}
/**
LIST TABLE STYLES
*/
div.k1lib-crudlexs-list table tbody tr td {
    vertical-align: top;
}

/**
TABLE MANAGER
*/

.k1lib-field-of-title {
    font-size: 1em !important;
}


/* FIXES */

.off-canvas-wrapper { overflow:visible !important; }

.title-bar-left, .title-bar-right {
-webkit-box-flex: 0 1 auto !important;
-webkit-flex: 0 1 auto  !important;
-ms-flex: 0 1 auto  !important;
flex: 0 1 auto  !important;
}

.title-bar-title {
display: inline !important;
}